@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

@layer utilities {
  .container-custom {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
    max-width: 1280px;
  }
}

